# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df=pd.read_csv("output_data/cities.csv")
weather_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitud,Max Temperature,Wind Speed
0,0,Arnprior,20,CA,1580603303,92,45.43,-76.35,-1.67,2.10
1,1,Iqaluit,90,CA,1580603303,78,63.75,-68.51,-11.00,4.60
2,2,Lorengau,83,PG,1580603303,78,-2.02,147.27,29.04,7.38
3,3,Ushuaia,40,AR,1580603113,66,-54.80,-68.30,11.00,8.20
4,4,Hilo,90,US,1580603303,61,19.73,-155.09,25.00,2.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [4]:
# Create a list containing coordinates 
locations=weather_df[['Latitude','Longitud']]
locations.head()

   Latitude  Longitud
0     45.43    -76.35
1     63.75    -68.51
2     -2.02    147.27
3    -54.80    -68.30
4     19.73   -155.09

In [5]:
humidity=weather_df['Humidity'].astype(float)

In [6]:
# Plot Heatmap
fig=gmaps.figure()
# Create the Layer
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=10,point_radius=1)
# Pass the layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# weather conditions: temperature range between 21-27° Celsius (~70-80° F), cloudiness = 0, and wind speed less than 4.5 m/s (~10 mph)
hotel_df=weather_df.loc[(weather_df["Cloudiness"] == 0) & (weather_df["Max Temperature"] > 21) & (weather_df["Max Temperature"] < 27) & (weather_df["Wind Speed"] < 4.5),:]
hotel_df.head(25)

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitud,Max Temperature,Wind Speed
44,44,Los Llanos de Aridane,0,ES,1580603311,43,28.66,-17.92,22.00,3.10
115,115,Saint-Joseph,0,RE,1580603324,83,-21.37,55.62,25.00,1.50
135,135,Saint-Pierre,0,RE,1580603327,83,-21.34,55.48,25.00,1.50
145,145,Chandbali,0,IN,1580603330,75,20.78,86.77,21.11,4.32
167,167,Itarema,0,BR,1580603334,84,-2.92,-39.92,24.40,1.73
218,218,Guerrero Negro,0,MX,1580603344,16,27.98,-114.06,25.57,3.20
239,239,Sao Filipe,0,CV,1580603348,43,14.90,-24.50,24.92,3.58
264,264,Siyabuswa,0,ZA,1580603353,64,-25.11,29.04,21.65,3.54
485,485,Man,0,CI,1580603400,38,7.41,-7.55,22.86,0.69

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
# Add "Hotel Name" column
hotel_df["Hotel Name"]=""

C:\Users\dcmed\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
# Display dataframe
hotel_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitud,Max Temperature,Wind Speed,Hotel Name
44,44,Los Llanos de Aridane,0,ES,1580603311,43,28.66,-17.92,22.00,3.10,
115,115,Saint-Joseph,0,RE,1580603324,83,-21.37,55.62,25.00,1.50,
135,135,Saint-Pierre,0,RE,1580603327,83,-21.34,55.48,25.00,1.50,
145,145,Chandbali,0,IN,1580603330,75,20.78,86.77,21.11,4.32,
167,167,Itarema,0,BR,1580603334,84,-2.92,-39.92,24.40,1.73,

In [21]:
# Determine parameters
target_search="hotels"
target_radius=5000
target_type="hotels"

# Set parameters to search for hotels with 5000 meters.
params={'keyword':target_search,
       'radius':target_radius,
       'type':target_type,
       'key':g_key}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitud"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    # Use the search term: "hotels" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    name_address=name_address.json()
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [22]:
hotel_df.head(25)

,City ID,City,Cloudiness,Country,Date,Humidity,Latitude,Longitud,Max Temperature,Wind Speed,Hotel Name
44,44,Los Llanos de Aridane,0,ES,1580603311,43,28.66,-17.92,22.00,3.10,Residencial Las Alas S.L.
115,115,Saint-Joseph,0,RE,1580603324,83,-21.37,55.62,25.00,1.50,Les Lodges Vanilliers
135,135,Saint-Pierre,0,RE,1580603327,83,-21.34,55.48,25.00,1.50,Le Battant Des Lames
145,145,Chandbali,0,IN,1580603330,75,20.78,86.77,21.11,4.32,Aranya Nivas (OTDC)
167,167,Itarema,0,BR,1580603334,84,-2.92,-39.92,24.40,1.73,Locanda dei Venti
218,218,Guerrero Negro,0,MX,1580603344,16,27.98,-114.06,25.57,3.20,Hotel Los Caracoles
239,239,Sao Filipe,0,CV,1580603348,43,14.90,-24.50,24.92,3.58,Casa Colonial Koenig
264,264,Siyabuswa,0,ZA,1580603353,64,-25.11,29.04,21.65,3.54,Kings Palace Empire
485,485,Man,0,CI,1580603400,38,7.41,-7.55,22.86,0.69,Hotel Amitie

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Set marker locations
locations = hotel_df[["Latitude", "Longitud"]]

# Assign markers
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))